.head-nav {
  background: black;
  margin-left: 30px;
}
.head-img {
  width: 20%;
  height: 20%;
}
body {
  background: white;
}
.dot {
  border-radius: 50%;

  position: absolute;
  width: 140px;
  height: 140px;
  left: 440px;
  top: 151px;

  background: #f2f2f2;
}
.font {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 25%;
}
.input-email-form {
  position: absolute;
  left: 312px;
  top: 481px;
}
.input-email {
  position: absolute;
  width: 400px;
  height: 39px;

  background: #ffffff;
  border: 2px solid #47b9e8;
  box-sizing: border-box;
  border-radius: 4px;
}
.test-form {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.test {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}
.analytics-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.analytics {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}

.query-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 312px;
  top: 735px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.query {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 735px;
}
.concurrency-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 312px;
  top: 775px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.concurrency {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 775px;
}
.data-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.data {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}
.scalability-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.scalability {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}

.storage-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.storage {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}
.search-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.search {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}
.price-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.price {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}
