.head-nav {
  background: black;
  margin-left: 30px;
}
.head-img {
  width: 20%;
  height: 20%;
}
body {
  background: white;
}
.dot {
  border-radius: 50%;

  position: absolute;
  width: 140px;
  height: 140px;
  left: 440px;
  top: 151px;

  background: #f2f2f2;
}
.title-demo {
  position: absolute;
  width: 206px;
  height: 54px;
  left: 407px;
  top: 334px;

  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  line-height: 53px;
  font-size: 34px;
  text-align: center;

  color: #4f4f4f;
}
.intro-demo {
  position: absolute;
  width: 396px;
  height: 53px;
  left: 312px;
  top: 383px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: center;

  color: #828282;
}
.business-type {
  position: absolute;
  width: 289px;
  height: 15px;
  left: 312px;
  top: 658px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;

  color: #828282;
}
.font {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 25%;
}
.input-email-form {
  position: absolute;
  left: 312px;
  top: 481px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;

  color: #828282;
}
.input-email {
  position: absolute;
  width: 400px;
  height: 39px;

  background: rgba(189, 189, 189, 0.13);
  border-radius: 4px;
}
.input-email:hover {
  position: absolute;
  width: 400px;
  height: 40px;
  background: rgba(189, 189, 189, 0.24);
  border-radius: 4px;
}
.input-email:focus {
  position: absolute;
  width: 400px;
  height: 40px;
  /* left: 95px;
  top: 612.12px; */

  background: #ffffff;
  border: 2px solid #47b9e8;
  box-sizing: border-box;
  border-radius: 4px;
}
.dropdown-label {
  position: absolute;
  width: 76px;
  height: 15px;
  left: 312px;
  top: 554px;

  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;

  color: #828282;
}
.dropdown-business {
  position: absolute;
  width: 400px;
  height: 39px;
  left: 312px;
  top: 575px;

  background: rgba(189, 189, 189, 0.13);
  border-radius: 4px;
  /*  */
}

.dropbtn {
  /* background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; */
  position: absolute;
  width: 20px;
  height: 19px;
  left: 354px;
  /* top: 89px; */

  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  /* line-height: 130px; */
  font-size: 15px;
  text-align: right;

  color: #828282;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* height: 19px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  position: absolute;
  width: 400px;
  height: 191px;
  /* left: 95px;
  top: 114px; */

  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.d-10-message {
  position: absolute;
  width: 52px;
  height: 173px;
  /* left: 116px;
  top: 132.15px; */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 14px;

  color: #7d7d7d;
}
.dr-radio:hover {
  /* position: absolute; */
  width: 400px;
  height: 36px;
  /* left: 95px;
  top: 124.06px; */

  background: #f6f6f6;
  background-blend-mode: multiply;
}
.dr-radio {
  /* position: absolute; */
  width: 400px;
  height: 36px;
  /* left: 95px;
  top: 124.06px; */

  /* background: #f6f6f6; */
  background-blend-mode: multiply;
}
.input-div:hover {
  position: absolute;
  width: 400px;
  height: 36px;
  background: #f6f6f6;
  background-blend-mode: multiply;
}
.input-div {
  position: absolute;
  width: 400px;
  height: 36px;
  background-blend-mode: multiply;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.btn-schedule {
  position: absolute;
  width: 400px;
  height: 38px;
  left: 312px;
  top: 891px;

  background: #0088bb;
  border: 1px solid #0088bb;
  box-sizing: border-box;
  border-radius: 4px;
}
.btn-text {
  position: absolute;
  width: 192px;
  height: 21px;
  left: 416px;
  top: 903px;

  font-family: FreightSansLFPro;
  line-height: 21px;
  font-size: 14px;

  color: #ffffff;
}

.analytics-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.analytics {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;

  background: rgba(189, 189, 189, 0.13);
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 64px;
}

.query-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 738px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.query {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 735px;

  background: rgba(189, 189, 189, 0.13);
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 64px;
}
.concurrency-label {
  position: absolute;
  width: 176px;
  height: 19px;
  left: 342px;
  top: 778px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
/* .concurrency {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 775px;
} */
.concurrency {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 775px;

  background: rgba(189, 189, 189, 0.13);
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 64px;
}
.data-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 818px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.data {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 818px;

  background: rgba(189, 189, 189, 0.13);
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 64px;
}
.scalability-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 560px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.scalability {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 526px;
  top: 694px;

  background: rgba(189, 189, 189, 0.13);
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 64px;
}

.storage-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 560px;
  top: 738px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.storage {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 526px;
  top: 735px;

  background: rgba(189, 189, 189, 0.13);
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 64px;
}
.search-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 560px;
  top: 777px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.search {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 526px;
  top: 775px;

  background: rgba(189, 189, 189, 0.13);
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 64px;
}
.price-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 560px;
  top: 819px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.price {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 526px;
  top: 818px;

  background: rgba(189, 189, 189, 0.13);
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 64px;
}
