.head-nav {
  background: black;
  margin-left: 30px;
}
.head-img {
  width: 20%;
  height: 20%;
}
body {
  background: white;
}
.dot {
  border-radius: 50%;

  position: absolute;
  width: 140px;
  height: 140px;
  left: 440px;
  top: 151px;

  background: #f2f2f2;
}
.font {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 25%;
}
.input-email-form {
  position: absolute;
  left: 312px;
  top: 481px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;

  color: #828282;
}
.input-email {
  position: absolute;
  width: 400px;
  height: 39px;

  background: #ffffff;
  border: 2px solid #47b9e8;
  box-sizing: border-box;
  border-radius: 4px;
}
.dropdown-label {
  position: absolute;
  width: 76px;
  height: 15px;
  left: 312px;
  top: 554px;

  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;

  color: #828282;
}
.dropdown-business {
  position: absolute;
  width: 400px;
  height: 39px;
  left: 312px;
  top: 575px;

  background: rgba(189, 189, 189, 0.13);
  border-radius: 4px;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.btn-schedule {
  position: absolute;
  width: 400px;
  height: 38px;
  left: 312px;
  top: 891px;

  background: #0088bb;
  border: 1px solid #0088bb;
  box-sizing: border-box;
  border-radius: 4px;
}
.btn-text {
  position: absolute;
  width: 192px;
  height: 21px;
  left: 416px;
  top: 903px;

  font-family: FreightSansLFPro;
  line-height: 21px;
  font-size: 14px;

  color: #ffffff;
}

.analytics-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.analytics {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}
.analytics {
  position: absolute;
  background: red;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 694px;
}

.query-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 738px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.query {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 735px;
}
.concurrency-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 778px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.concurrency {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 775px;
}
.data-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 342px;
  top: 818px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.data {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 312px;
  top: 818px;
}
.scalability-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 560px;
  top: 696px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.scalability {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 526px;
  top: 694px;
}

.storage-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 560px;
  top: 738px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.storage {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 526px;
  top: 735px;
}
.search-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 560px;
  top: 777px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.search {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 526px;
  top: 775px;
}
.price-label {
  position: absolute;
  width: 148px;
  height: 19px;
  left: 560px;
  top: 819px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: #828282;
}
.price {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 526px;
  top: 818px;
}
