<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MEMSQL</title>

    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik" rel="stylesheet"> -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./Unqualified.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <script defer="defer" src="./Unqualified.js"></script>

    <div>
      <header class="head-nav"></header>
      <img
        class="head-img"
        src="../../img/MemSQL_horizontal_lockup_grey-white_logo.png"
        alt="MEMSQL logo."
      />
      <section>
        <span class="dot">
          <img class="font" src="../../img/fontX.png" alt="Logo" />
        </span>
        <div class="main-message">
          Oh no!
          <div>We'll contact you shortly</div>
        </div>
        <div class="second-message">All our consultants are busy</div>
      </section>
    </div>
  </body>
</html>
